header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2px 20px; 
    background-color: #fafafa;
  }
  
  header .logo {
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .user{
    height: 30px;
  }
  
  header nav {
    margin-left: auto;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 60px;
    margin-right: 100px;
    font-size: large;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  header .profile {
    font-size: 20px;
    margin-left: 20px;
  }

  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }