/* travelPlanner.css */

.long-form-container {
  display: flex;
  flex-direction: column;
  gap: 300px;
  padding: 20px;
  text-align: center;
}

#startText {
  text-align: center;
  font-family: "Light";
  font-size: 36px;
  margin-top: 148px;
  margin-bottom: 130px;
}

.question {
  font-family: "Light";
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 96px;
  color: #3A3A3A;
}

.long-button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 400px;
}

.long-grid-button-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 400px;  
}

.long-button-group button, .long-grid-button-group button {
  text-align: center;
  font-size: 20px;
  font-family: "Light";
  padding: 15px 23px;
  border: 2px solid #3A3A3A;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
}

.long-button-group button.selected, .long-grid-button-group button.selected {
  background-color: #87CEEB;
  color: white;
  font-family: "Regular";
  border: #87CEEB;
}

button:hover {
  background-color: #DEDEDE; /* 마우스를 올렸을 때 배경색 변경 */
  color: #3A3A3A; /* 마우스를 올렸을 때 글자색 변경 */
  border-color: #3A3A3A; /* 마우스를 올렸을 때 테두리 색상 변경 */
}

.submit-button {
  display: block;
  margin: 100px auto;
  padding: 10px 35px;
  font-size: 20px;
  font-family: "Light";
  background-color: #27AAE0;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}


/* 선호도 동그라미 CSS */

.preference {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.preference button {
  border: 3px solid;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.preference button.selected {
  background-color: #919191;
  color: white;
}

.preference button:hover {
  background-color: #B4E9FF; /* 마우스를 올렸을 때 배경색 변경 */
  border-color: #87CEEB !important; /* 마우스를 올렸을 때 테두리 색상 변경 */
}

.preference button.size-1 {
  border-color:#87CEEB;
  width: 100px;
  height: 100px;
}

.preference button.size-2 {
  border-color:#87CEEB;
  width: 80px;
  height: 80px;
}

.preference button.size-3 {
  border-color:#87CEEB;
  width: 60px;
  height: 60px;
}

.preference button.size-4 {
  border-color: #919191;
  width: 40px;
  height: 40px;
}

.preference button.size-5 {
  border-color: #A58DC5;
  width: 60px;
  height: 60px;
}

.preference button.size-6 {
  border-color: #A58DC5;
  width: 80px;
  height: 80px;
}

.preference button.size-7 {
  border-color: #A58DC5;
  width: 100px;
  height: 100px;
}

.preference button.selected.size-1,
.preference button.selected.size-2,
.preference button.selected.size-3 {
  background-color: #87CEEB;
  border-color: #87CEEB;
}

.preference button.selected.size-5,
.preference button.selected.size-6,
.preference button.selected.size-7 {
  background-color: #87CEEB;
  border-color: #87CEEB;

}

.preference button.selected.size-4 {
  background-color: #87CEEB;
  border-color: #87CEEB;
}

.left-name {
  color: #27AAE0;
  width: 200px;
  font-size: 36px;
  font-family: "Regular";
}

.right-name {
  color: #A58DC5;
  width: 200px;
  font-size: 36px;
  font-family: "Regular";
}