body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
  background: linear-gradient(to right, #e1eef7, #ade6fa);
  padding: 60px 80px;
  border-radius: 10px; 
  width: 100vw;
  box-sizing: border-box; 
}

.intro h1 {
  margin-top: 20px;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: left;
}

.intro p {
  font-size: 22px;
  margin-bottom: 80px;
  text-align: left;
}

#startButton {
  font-size: 20px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  margin-left: 5px;
  height: 60px;
  width: 200px;
}

#startButton:hover {
  background-color: #555;
}

.content {
  display: flex;
  gap: 200px;
  margin: 50px 40px;
}

.left-section, .right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.weather-section, .travel-section, .restaurant-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.weather-section h2, .travel-section h2, .restaurant-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: left;
}

.weather-section > div, .travel-section > div, .restaurant-section > div {
  display: flex;
}