#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 25%;
    max-width: 600px;
    padding: 20px;
}

#profile_image {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 60px;
}

#profile_name {
    font-size: 32px;
}

#profile_setting {
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0;
}

.description {
    display: flex;
    justify-self: start;
    font-size: 24px;
    padding-left: 19px;
    color: #373737;
    margin: 16px 0;
}

.input-group {
    width: 100%;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 19px;
    margin-bottom: 20px;
    border: 1.35px solid #818181; /* 테두리를 두껍게 설정 */
    border-radius: 10px;
    font-size: 24px;
    align-items: center;
}

#input_email {
    background-color: #EFEFEF;
    border: 1.35px solid #A1A1A1 !important; /* 테두리를 두껍게 설정 */
}

#delete_account {
    width: 100%;
    border: none;
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
    margin: 32px;
    cursor: pointer;
}

#button_group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 18px;
}

#go_back, #save {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

#go_back {
    background-color: #EFEFEF;
}

#save {
    background-color: #87CEEB;
}

#save:hover {
    background-color: #00BFFF;
}

#go_back:hover, #delete_account:hover {
    background-color: #e0e0e0;
}